<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- add entry to enable component scanning -->

	<context:component-scan base-package="com.luv2code.springdemo" />
	<context:property-placeholder location="classpath:sport.properties"/>
	<bean id="myHappyFortuneService" class="com.luv2code.springdemo.HappyFortuneService"></bean>
	<bean id="phuFortuneService" class="com.luv2code.springdemo.PhuFortuneService"></bean>
	<bean id="myCricketCoach" class="com.luv2code.springdemo.CricketCoach">
		<property name="fortuneService" ref="myHappyFortuneService"/>
		<property name="emailAddress" value="${foo.email}"/>
		<property name="team" value="foo.team"/>
	</bean>

	<bean id="myFootBallCoach" class="com.luv2code.springdemo.FootBallCoach">
		<property name="fortuneService" ref="phuFortuneService"/>
		<property name="email" value="${foo.email}"/>
		<property name="team" value="${foo.team}"/>
	</bean>
</beans>





